
/tests/target
/server/txcache1/fhir-server/ch.*
/server/txcache1/fhir-server/loinc*
/server/txcache1/fhir-server/sct*
/server/txcache/fhir-server/fhir.dicom\#2024.2.20240331
/server/txcache/fhir-server/fhir.dicom\#2025.1.20250221
/server/txcache/fhir-server/fhir.tx.support.r2\#0.3.0
/server/txcache/fhir-server/fhir.tx.support.r3\#0.25.0
/server/txcache/fhir-server/fhir.tx.support.r4\#0.27.0
/server/txcache/fhir-server/hl7.eu.terminology.common\#0.2.0
/server/txcache/fhir-server/hl7.fhir.r2.core\#1.0.2
/server/txcache/fhir-server/hl7.fhir.r3.core\#3.0.2
/server/txcache/fhir-server/hl7.fhir.r4.core\#4.0.1
/server/txcache/fhir-server/hl7.fhir.r5.core\#5.0.0
/server/txcache/fhir-server/hl7.fhir.uv.extensions.r4\#5.1.0
/server/txcache/fhir-server/hl7.fhir.uv.ips\#2.0.0-ballot/package
/server/txcache/fhir-server/hl7.terminology.r3\#4.0.0
/server/txcache/fhir-server/hl7.terminology.r4\#5.5.0
/server/txcache/fhir-server/hl7.terminology.r4\#6.0.2
/server/txcache/fhir-server/hl7.terminology.r4\#6.2.0
/server/txcache1/fhir-server/hl7.fhir.uv.ips\#1.1.0
/server/txcache1/fhir-server/hl7.fhir.uv.ips\#1.1.0
