// Grid system

$gutter-spacing: $sp-6 !default;
$gutter-spacing-sm: $sp-4 !default;
$nav-width: 18.5rem !important;
$nav-width-md: 18.5rem !important;
$nav-list-item-height: $sp-6 !default;
$nav-list-item-height-sm: $sp-8 !default;
$nav-list-expander-right: true;
//$content-width: 1000px;
$header-height: 3.75rem !default;
$transition-duration: 400ms;
$sidebar-color: #f9fbfc;
$link-color: #0d2260;


$content-width: 80rem;
$search-results-width: $content-width - $nav-width !default;

.side-bar {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: $sidebar-color;
  
    @include mq(md) {
      flex-flow: column nowrap;
      position: fixed;
      width: $nav-width-md;
      height: 100%;
      // border-right: $border $border-color;
      border-right: 0px! important;
      align-items: flex-end;
    }
  
    @include mq(lg) {
      width: calc((80% - #{$nav-width + $content-width}) / 12 + #{$nav-width});
      min-width: $nav-width;
    }

  }
  
  
.site-header {
border-bottom: 0px !important;
}



.site-title {
  
  line-height: 24px !important;
  font-size: 18px !important;    
  padding-right: 5px! important;
  padding-left: 15px! important;
  margin:5px;

}

.site-logo {
  
  padding-right: 25px! important;
  margin:5px;

}


.site-nav, .site-header, .site-footer {
width: 20rem !important;
}

div.site-header a.site-title.lh-tight {
font-size: 16px !important;
line-height: 20px !important;
}

.site-header .site-logo {
  margin-right: 15px; /* Adjust this value as needed */
}


.site-logo {
width: 20% !important;
}

